* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: #F3F5FC;
}
.container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding: 1%;
}

header {
    position: relative;
    float: inline-start;
    height: 48px;
    top: 40px;
}
#logo {
    width: 120px;
    height: 48px;
}

/* Estilos relacionados a la sección de entrada de texto */
.seccion-entrada {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#texto-entrante {
    font-size: 32px;
    font-weight: 400;
    color: #0A3871;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    margin-top: 15%;
}
#texto-entrada::placeholder {
    color: #0A3871;
    font-weight: 400;
}

.opciones {
    margin-bottom: 2.5%;
}

#advertencia {
    display:flex;
    font-size: 16px;
    color: #495057;
}

#advertencia > img {
    margin-right: 5px;
}
/* ----------------------------- */

/* Estilos relacionados a botones */
.botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#boton-encriptar, #boton-desencriptar, #boton-copiar {
    width: 45%;
    padding: 24px;
    border-radius: 24px;
}

#boton-encriptar {
    background-color: #0A3871;
    color: #FFFFFF;
}
#boton-encriptar:hover {
    background-color: #072B61;
}

#boton-desencriptar {
    background-color:#D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}
#boton-desencriptar:hover {
    background-color: #EFF1FA;
}

#boton-copiar {
    border: 1px solid #0A3871;
    color: #0A3871;
    justify-content: center; 
    display: none;
}

#boton-copiar:hover {
    background-color: #E6E6E6;
}
/* ----------------------------- */

/* Estilos relacionados a la sección de salida de texto */
.seccion-salida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    border: 1px solid black;
    border-radius: 32px;
    padding: 2%;
    background-color: #FFFFFF;
    width: 30%;
}

#texto-saliente {
    display: none;
    font-size: 24px;
    font-weight: 400;
    color: #495057;
    width: 100%;
    height: 100%;
    line-height: 36px;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
}

#mensaje h2 {
    font-weight: 700;
    color: #343A40;
}
#mensaje p {
    color: #495057;
    font-weight: 400;
}

#figura {
    width: 70%;
    min-width: 150px;
}
/* ----------------------------- */ 

/* Media Queries */

@media (max-width: 1440px) {
    #figura {
        display: block;
    }
}

@media (max-width: 768px) { 
    #figura {
        display: none;
    } 

    .container {
        flex-direction: column;
    }
    
    .header {
        width: 100%;
        height: auto;
    }
    .seccion-entrada {
        width: 100%;
    }

    .seccion-salida, .opciones {
        width: 90%;
        height: auto;
        align-self: center;
        margin: 5%;
    }

    #boton-copiar {
        width: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

@media (max-width: 480px) {
    .botones {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    #boton-encriptar, #boton-desencriptar {
        width: 100%;
    }

}